@import "/node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: "Inter";
  src: url("/public/assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("/public/assets/fonts/Inter-Bold.ttf");
  font-weight: bold;
}

video {
  clear: both;
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  height: 280px;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Prevent scrolling */
  height: 100%;
  width: 100%;
  background: url("/public/assets/images/background.png") no-repeat center center fixed;
  background-size: cover;
  font-family: Inter !important;
}


.main-cont {
  height: 100vh;
  /* 100% of the viewport height */
  width: 100vw;
  /* 100% of the viewport width */
}

.waveForm {
  padding-left: 10px;
  padding-right: 10px;
}

.volumeProgressBar {
  position: absolute;
  bottom: 25px;
  width: 97%;
}

.removed {
  display: none;
}

.invisible {
  opacity: 0.2;
}

.detectOnClick {
  position: relative;
  float: left;
  width: 48%;
  margin: 2% 1%;
  cursor: pointer;
}

.videoView {
  position: absolute;
  float: left;
  width: 48%;
  margin: 2% 1%;
  cursor: pointer;
  min-height: 500px;
}

.videoView p,
.detectOnClick p {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #007f8b;
  color: #fff;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  z-index: 2;
  margin: 0;
}

.canvas {
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.output_canvas {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0 auto;
  width: 100% !important;
  height: 100%;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.detectOnClick {
  z-index: 0;
  font-size: calc(8px + 1.2vw);
}

.detectOnClick img {
  width: 45vw;
}

.hb-text {
  position: absolute;
  text-align: center;
  padding: 5px;
  color: black;
  bottom: 40px;
  position: absolute;
  left: 50%;
  /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  background: white;
  font-size: 14px;
  border-radius: 10px;
}

.currGesture {
  font-size: 18px;
  font-weight: bold;
  background: white;
  padding: 10px;
  border-radius: 20px;
  width: fit-content;
  margin: 0 auto;
}

.tooltipGesture {
  width: fit-content;
  margin: 0 auto;
  font-size: 14px;
  padding-top: 5px;
  color: white;
}

.currVoice {
  margin-top: 5px;
  background: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 200px;
  width: fit-content;
  color: black;
  font-size: 16px;
  margin-bottom: 10px;
}

.tooltipVoice {
  color: lightgrey;
  font-size: 14px;
}

.ebony {
  color: #0B060E;
}

.violet {
  color: #B01EB0;
}

.loulou {
  color: #5A0955;
}

.purple {
  color: #7A0B85;
}

.listVoiceCommands ul,
.listOfGestures ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar {
  position: relative;
  width: 250px;
  transition: left 0.3s ease-in-out;
  height: 100vh;
  background-color: rgba(245, 245, 245, 0.12);
  overflow-x: hidden;
  transition: 0.5s;
  color: white;
  padding: 10px;
  font-size: 14px;
  border-radius: 0px 10px 0px 0px;
}


.sidebar .closebtn {
  position: absolute;
  right: 10px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 25px;
  top: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

.trackNumbers {
  padding-top: 8px;
  display: flex;
  margin: 0 auto;
  width: fit-content;
}

.trackNumber {
  font-size: 10px;
  color: black;
  padding: 5px 10px 5px 10px;
  background: white;
  border-radius: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.currentTrack {
  background: #7A0B85 !important;
  color: white;
}